.menu-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
}

.menu-item {
  background: #2b1508;
  padding: 12px;
  border-radius: 14px;
  margin-bottom: 18px;
  color: #fff;
}
